h1{
    background-color: rebeccapurple;
    color: red;
}
input{
    background-color: azure;
}
p{
    background-color: cadetblue;
    color: chartreuse;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite; /* Adjust the duration as needed */
  }
  